CLIENT_URL= http://localhost:5173/

DATABASE_URL=postgresql://postgres.uuliagwxjbjjdiszlpeg:vinamilkkhongduong@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres
PORT= 8000

# JWT Configuration
JWT_ACCESS_SECRET=gaylord123456789
JWT_REFRESH_SECRET=gaylord123456789
NODE_ENV=development
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

SAL=25405eawfewfaew

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret


# Email configuration // Đây là email và key của app, giữ nguyên khi tạo .env mới
EMAIL_USER=appchatmate@gmail.com
EMAIL_PASS=efxb gvhe zfax fjat